<div class="row">
	<div class="large-10 columns">
		<h2>Did Hartford Tow My Car?</h2>
		<%= form_tag('static_pages/towed', method: "get") do %>
		  <%= text_field_tag(:q, nil, placeholder: "License Plate (No spaces)") %>
		  <%= submit_tag("Search", class: "button") %>
		<% end %>
	</div>
</div>