<h2>Did Hartford Tow My Car?</h2>

<%= form_tag('static_pages/towed', method: "get") do %>
  <%= label_tag(:q, "License Plate (no spaces):") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search", class: "button", placeholder: "License Plate (no spaces)") %>
<% end %>