<h1>TowedCar.info</h1>

Hello <%= @user.name %>,

Sorry to say that your car has been towed. It is at <% @tow.Tow_firm.titleize %> which you can call at <% @tow.Tow_Firm_Phone %>.

Sincerely,

The Team at TowedCar.info